<div>
  <h1>In emergencies ALWAYS call <i><u><a href="tel:112">112</a></u></i> first</h1>
</div>
<div>
	<uib-accordion>
	<div uib-accordion-group class="">
      <uib-accordion-heading>
        Blekinge important numbers <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <ul>
	<li>Blekinge hospital Karlskrona</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	<li>Blekinge hospital Karlshamn</li><a href="tel:+46454731000">0454 - 73 10 00</a>
	<li>Municipality hospital Kalmar</li><a href="tel:+4648081000">0480 - 81 00 0</a>
	<li>Coast Guard</li><a href="tel:+46455353400">0455 - 35 34 00</a>
	<li>Police</li><a href="tel:+46114114">114 114</a>
	<li>Blekinge Police</li><a href="tel:+46455362200">0455 - 36 22 00</a>
	<!-- <li></li><a href="tel:+46"></a> -->
	</ul>
    </div>
    <div uib-accordion-group class="">
      <uib-accordion-heading>
        Rescue services <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <ul>
	<li>Karlskrona</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	<li>Ronneby</li><a href="tel:+46454731000">0454 - 73 10 00</a>
	<li>Karlshamn</li><a href="tel:+4648081000">0480 - 81 00 0</a>
	<li>Kalmar</li><a href="tel:+46455353400">0455 - 35 34 00</a>
	<li>Hasslö Searescue</li><a href="tel:+46"></a>
	<li>Bergkvara Searescue</li><a href="tel:+46"></a>
	</ul>
    </div>
    <div uib-accordion-group class="">
      <uib-accordion-heading>
        Dive services <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <ul>
	<li>PADI</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	<li>DAN Europe</li><a href="tel:+46454731000">0454 - 73 10 00</a>
	<li>DAN Emergencies world wide</li><a href="tel:+4648081000">0480 - 81 00 0</a>
	</ul>
    </div>
    <div uib-accordion-group class="">
      <uib-accordion-heading>
        Vårdcentral <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <ul>
	<li>Karlskrona</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	<li>Ronneby</li><a href="tel:+46454731000">0454 - 73 10 00</a>
	<li>Karlshamn</li><a href="tel:+4648081000">0480 - 81 00 0</a>
	<li>Kalmar</li><a href="tel:+46455353400">0455 - 35 34 00</a>
	</ul>
    </div>
    <div uib-accordion-group class="">
      <uib-accordion-heading>
        Taxi services <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <ul>
	<li>Karlskrona Taxi</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	<li>ZonTaxi</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	<li>Taxi Kurir</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	<li>Ronneby Taxi</li><a href="tel:+46454731000">0454 - 73 10 00</a>
	<li>Kallinge Taxi</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	<li>Karlshamn Taxi</li><a href="tel:+4648081000">0480 - 81 00 0</a>
	<li>Asarum Taxi</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	<li>Taxi Kalmar</li><a href="tel:+46455353400">0455 - 35 34 00</a>
	<li>NettoTaxi</li><a href="tel:+46455731000">0455 - 73 10 00</a>
	</ul>
    </div>
	
	
	</uib-accordion>
</div>
