<div style="text-align: center">
    <h1>In emergencies ALWAYS call <i><u><a href="tel:112">112</a></u></i> first</h1>
    <h2>For marine emergencies VHF-Radio channel: 16 </h2>
</div>
<div class="container-fluid">
    <div class="row" style="border:1px solid black;text-align: center">
        <h1> First aid &amp; Medical assistance information</h1>
        <h3> In case of diving accident</h2>
        <h4> Is the diver breathing? (look, listen, feel)</h3>
        <div class='col-md-6' style="border:1px solid black">
            <h5>Yes</h5>
            <ul>
                <li>Check responsiveness: Non-responsive -> Recovery position</li>
                <li>SAMPLE (Signs and Symptoms, Allergies, Medication, Previous history, Last meal, Events): Gain understanding</li>
                <li>Assess for physical injuries: Treat if possible</li>
                <li>Assess for medical shock: Weak pulse, pale -> Treat for shock</li>
                <li>Assess for decompression illness: Skin-rash/chest or joint pain -> Recovery position and administer oxygene</li>
                <li>Assess for heat stroke: Remove clothing, cool down</li>
                <li>Assess for hypothermia: Blue lips/fingers/pale/weak pulse,cold to touch -> Warm up, give warm liquids</li>
                <li>Administer Oxygen if necessary, monitor</li>
            </ul>
        </div>
        <div class='col-md-6' style="border:3px solid red">
            <h5>No</h5>
            <ul>
                <li>Open airways</li>
                <li>Administer rescue breaths</li>
                <li>Begin CPR (30 compressions/2 breaths)</li>
                <li>Check for pulse and breathing</li>
                <li>Repeat until breathing or medical help available</li>
                <li>Once restored re-evalute from top</li>
            </ul>
        </div>
    </div>
    <div class="row" style="border:1px solid black;text-align: center">
            Record any information (Dive site, time, names, equipment used, events, dive computer details) for medical personel. Vital to not modify equipment, do not disassemble. Create accident report for authorities.
        </div>
</div>
<div>
    <uib-accordion>
        <div uib-accordion-group class="">
            <uib-accordion-heading>
                Blekinge important numbers <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <ul>
                <li>Blekinge hospital Karlskrona</li><a href="tel:+46455731000">0455 - 73 10 00</a>
                <li>Blekinge hospital Karlshamn</li><a href="tel:+46454731000">0454 - 73 10 00</a>
                <li>Municipality hospital Kalmar</li><a href="tel:+4648081000">0480 - 81 00 0</a>
                <li>Coast Guard</li><a href="tel:+46455353400">0455 - 35 34 00</a>
                <li>Police</li><a href="tel:+46114114">114 114</a>
                <li>Blekinge Police</li><a href="tel:+46455362200">0455 - 36 22 00</a>
            </ul>
        </div>
        <div uib-accordion-group class="">
            <uib-accordion-heading>
                Rescue services <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <ul>
                <li>Karlskrona</li><a href="tel:+464557303980">0455 - 30 39 80</a>
                <li>Ronneby</li><a href="tel:+46457303980">0457 - 30 39 80</a>
                <li>Karlshamn</li><a href="tel:+46454305100">0454 - 30 51 00</a>
                <li>Kalmar</li><a href="tel:+46480457510">0480 - 45 75 10</a>
                <li>Hasslö Searescue</li><a href="tel:+46705808132">0705 - 80 81 32</a>
                <li>Bergkvara Searescue</li><a href="tel:+46705808131">0705 - 80 81 31</a>
            </ul>
        </div>
        <div uib-accordion-group class="">
            <uib-accordion-heading>
                Dive services <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <ul>
                <li>PADI Nordic</li><a href="tel:+4631808840">031 - 80 88 40</a>
                <li>DAN Europe</li><a href="tel:+39858930333">+39 - 085 - 893 - 0333</a>
                <li>DAN Emergencies world wide</li><a href="tel:++396042118685">+39 - 06 - 4211 - 8685</a>
                <li>Unique Dive&amp;Travel</li><a href="tel:+46708867431">070 - 886 74 31</a>
                <li>Saltstänk</li><a href="tel:+460733402940">073 - 340 29 40</a>
            </ul>
        </div>
        <div uib-accordion-group class="">
            <uib-accordion-heading>
                Health Center <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <ul>
                <li>Karlskrona</li><a href="tel:+46455735755">0455 - 73 57 55</a>
                <li>Ronneby</li><a href="tel:+46457731400">0457 - 73 14 00</a>
                <li>Karlshamn</li><a href="tel:+45481460">0454 - 81 46 0</a>
                <li>Kalmar</li><a href="tel:+4648081960">0480 - 81 96 0</a>
            </ul>
        </div>
        <div uib-accordion-group class="">
            <uib-accordion-heading>
                Taxi services <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <ul>
                <li>Karlskrona Taxi</li><a href="tel:+4645519100">0455 - 19 10 0</a>
                <li>ZonTaxi</li><a href="tel:+4645523050">0455 - 23 05 0</a>
                <li>Taxi Kurir</li><a href="tel:+4645581000">0455 - 81 00 0</a>
                <li>Ronneby Taxi</li><a href="tel:+4645712720">0457 - 12 72 0</a>
                <li>Kallinge Taxi</li><a href="tel:+4645721150">0457 - 21 15 0</a>
                <li>Karlshamn Taxi</li><a href="tel:+4645415065">0454 - 15 06 5</a>
                <li>Asarum Taxi</li><a href="tel:+46454328950">0454 - 32 89 50</a>
                <li>Taxi Kalmar</li><a href="tel:+46480444444">0480 - 44 44 44</a>
                <li>NettoTaxi</li><a href="tel:+4648018200">0480 - 18 20 0</a>
            </ul>
        </div>
    </uib-accordion>
</div>
