.sites 
  flex 1
  display flex
  flex-direction column

.main
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around

.site
  height 15rem
  width 15rem
  border 1px solid lightgray
  border-radius 1rem
  margin 1rem
  padding 1rem

.site-logo 
  width 2rem
  height 2rem
  float right
  margin 0 0 .5rem .5rem

.site-h3 
  font-size 1.5rem
  margin 0 0 2rem 0


