<main class='main'>
    <div>
        <button ng-if="$ctrl.auth.$getAuth()" class="btn btn-primary" type="button" ng-click="$ctrl.newSite()">New site</button>
    </div>
    <div class="row">
        <h1>Dive sites</h1>
        <h3>Access legend: 
            <span class="site-logo glyphicon glyphicon-tree-conifer">Land</span>
            <span class="site-logo glyphicon glyphicon-tint">Boat</span>
            </h3>
        <div class='col-md-2 site' ng-repeat="site in $ctrl.sites | filter:{type:'dive'}" ng-click="$ctrl.open(site)">
            <button ng-if="$ctrl.auth.$getAuth()" class="btn btn-danger btn-xs site-delete" type="button" ng-click="$ctrl.sites.$remove(site)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            <span ng-if='site.type.indexOf("land") > -1' class="site-logo glyphicon glyphicon-tree-conifer"></span>
            <span ng-if='site.type.indexOf("boat") > -1' class="site-logo glyphicon glyphicon-tint"></span>
            <h3 class="site-h3"> {{ site.title }}</h3>
            <p>{{ site.text1 }}</p>
        </div>
    </div>
    <div class="row">
    <h1>Other sites</h1>
        <div class='col-md-2 site' ng-repeat="site in $ctrl.sites | filter:{type:'other'}" ng-click="$ctrl.open(site)">
            <button ng-if="$ctrl.auth.$getAuth()" class="btn btn-danger btn-xs site-delete" type="button" ng-click="$ctrl.sites.$remove(site)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            <span class="site-logo glyphicon glyphicon-exclamation-sign"></span>
            <h3 class="site-h3"> {{ site.title }}</h3>
            <p>{{ site.text1 }}</p>
        </div>
    </div>
</main>
