<div ng-if="!$ctrl.new" class="modal-header">
    <h3 class="modal-title">{{$ctrl.site.title}}</h3>
</div>
<div ng-if="!$ctrl.new" class="modal-body">
    <h4><i>Dykinfo:</i> {{$ctrl.site.text1}}</h4>
    <br/>
    <i>Siteinfo:</i> {{$ctrl.site.text2}}
    <!-- <div ng-if='$ctrl.sitemap' style="text-align:center">
        <img class="img-thumbnail" ng-src="{{ ::$ctrl.sitemap }}" width="150px" height="100px" alt="Dive map" title="Dive map" ng-click=$ctrl.showfull() />
    </div>
    <div ng-if='!$ctrl.sitemap && !$ctrl.site.map'>
        No dive map available
    </div>
    <div ng-if='!$ctrl.sitemap && $ctrl.site.map'>
        Dive map loading...
    </div> -->
    <div style="height: 305px; max-width:350px; text-align:center;">
        <div uib-carousel active="0" interval="0">
            <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id">
                <img class="test" ng-src="{{slide.url}}" ng-click="$ctrl.view(slide)">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.title}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!$ctrl.new" class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.close()">Close</button>
</div>
<form ng-if="$ctrl.new" class="modal-header" name="header" required>
    <input type="text" ng-model="$ctrl.site.title" name="title" placeholder="Divesite name" required/>
    <div ng-messages="header.title.$error">
        <div ng-message="required">This field is required</div>
    </div>
</form>
<form ng-if="$ctrl.new" class="modal-body" name="body">
    <input type="text" ng-model="$ctrl.site.text1" placeholder="Short description, visible on sites page" />
    <br/>
    <textarea type="text" name="userMessage" ng-model="$ctrl.site.text2" ng-maxlength="1000" placeholder="Longer description, visible on the site page">
    </textarea>
    <br/>
    <input type="number" ng-model="$ctrl.site.lat" placeholder="GPS Latitude (e.g 56.1231)" />
    <br/>
    <input type="number" ng-model="$ctrl.site.long" placeholder="GPD Longitude(e.g. 15.1231)" />
    <br/>
    <button class="btn btn-primary" type="button" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" name="file" ng-model="$ctrl.site.image">Select dive map</button>
    <br/>
    <img ngf-thumbnail="$ctrl.site.image" class="img-thumnail" width="150px" height="100px" alt="Dive map" title="Dive map" />
    <uib-progressbar ng-if='$ctrl.uploadvalue>0' class="progress-striped active" type="{{$ctrl.uploadtype}}" value="$ctrl.uploadvalue"><b>{{$ctrl.uploadvalue}}%<b></uib-progressbar>
</form>
<div ng-if="$ctrl.new" class="modal-footer">
    <button ng-disabled="!$ctrl.site.title" class="btn btn-primary" type="button" ng-click="$ctrl.save()">Save</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.dismiss()">Cancel</button>
</div>
