<div class="modal-header">
    <h3 class="modal-title">{{$ctrl.site.title}}</h3>
</div>
<div class="modal-body">
    {{$ctrl.site.text1}}
    <br> {{$ctrl.site.text2}}
    <div ng-if='$ctrl.sitemap'>
        <img class="img-thumbnail" ng-src="{{ ::$ctrl.sitemap }}" width="150px" height="100px" alt="Dive map" title="Dive map" ng-click=$ctrl.showfull() />
    </div>
    {{$ctrl.sitemap}}
    <div ng-if='!$ctrl.sitemap'>
    	No dive map available
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.close()">OK</button>
    <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.dismiss()">close</button> -->
</div>
