<div ng-if="!$ctrl.new" class="modal-header">
    <h3 class="modal-title">{{$ctrl.site.title}}</h3>
</div>
<div ng-if="!$ctrl.new" class="modal-body">
    <p>
        <h4><i>Dive info:</i> </h4>
        <ul ng-if="$ctrl.site.depth">
            <li>Average : {{$ctrl.site.depth.average}}
            </li>
            <li>Max : {{$ctrl.site.depth.max}}
            </li>
        </ul>
    </p>
    <p>
        <i>Siteinfo:</i>
        <ul>
            <li ng-if="$ctrl.site.text1">{{$ctrl.site.text1}}</li>
            <li ng-if="$ctrl.site.text2">{{$ctrl.site.text2}}</li>
        </ul>
    </p>
    <p>
        <div ng-if='$ctrl.slides === null'>
            No images available
        </div>
        <div ng-if="$ctrl.slides.length === 0">
            Media loading
        </div>
        <div ng-if="$ctrl.slides.length > 0" class="modal-carousel">
            <div uib-carousel active="0" interval="5000">
                <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.url}}" ng-click="$ctrl.view(slide)" style="margin:auto; max-height:305px">
                    <div class="carousel-caption">
                        <p>{{slide.label}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.auth.$getAuth()">
            <button class="btn btn-primary" type="button" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" name="file" ng-model="$ctrl.images" ngf-multiple="true">Add images</button>
            <div ng-repeat="image in $ctrl.images track by $index">
                <img ngf-thumbnail="::image" class="img-thumnail" width="150px" height="100px" />
                <input ng-if='!$ctrl.uploadvalue' type="text" ng-model="$ctrl.images[$index].label" placeholder="Short description" />
            </div>
            <uib-progressbar ng-if='$ctrl.uploadvalue>0' class="progress-striped active" type="{{$ctrl.uploadtype}}" value="$ctrl.uploadvalue"><b>{{$ctrl.uploadvalue}}%<b></uib-progressbar>
            <button ng-if="$ctrl.images.length>0&&$ctrl.uploadtype!=='success'" class="btn btn-primary" type="button" ng-click="$ctrl.addImages()">Save</button>
        </div>
    </p>
</div>
<div ng-if="!$ctrl.new" class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.close()">Close</button>
</div>
<form ng-if="$ctrl.new" class="modal-header" name="header" required>
    <input type="text" ng-model="$ctrl.site.title" name="title" placeholder="Divesite name" required/>
    <div ng-messages="header.title.$error">
        <div ng-message="required">This field is required</div>
    </div>
</form>
<form ng-if="$ctrl.new" class="modal-body" name="body">
    <p>
        <input type="text" ng-model="$ctrl.site.text1" placeholder="Short description" />
    </p>
    <p>
        <textarea type="text" name="userMessage" ng-model="$ctrl.site.text2" ng-maxlength="1000" placeholder="Longer description">
        </textarea>
    </p>
    <p>
      GPS Coordinates (Decimal)
        <input type="number" ng-model="$ctrl.site.lat" placeholder="GPS Latitude (e.g 56.1231)" />
        <input type="number" ng-model="$ctrl.site.long" placeholder="GPD Longitude(e.g. 15.1231)" />
    </p>
    <p>
      Depth(meters)
        <input type="number" ng-model="$ctrl.site.average" placeholder="Average depth" />
        <input type="number" ng-model="$ctrl.site.max" placeholder="Max depth" />
    </p>
    <p>
      What to see
        <input type="text" ng-model="$ctrl.site.sights" placeholder="Wrecks, fish, nature" />
    </p>
    <p>
        Site type:
        <br/>
        <label>
            <input type="radio" ng-model="$ctrl.site.type" value="dive land"> Land Dive
        </label>
        <br/>
        <label>
            <input type="radio" ng-model="$ctrl.site.type" value="dive boat"> Boat Dive
        </label>
        <br/>
        <label>
            <input type="radio" ng-model="$ctrl.site.type" value="other"> Other
        </label>
        <br/>
    </p>
    <button class="btn btn-primary" type="button" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" name="file" ng-model="$ctrl.images" ngf-multiple="true">Select images</button>
    <div ng-repeat="image in $ctrl.images track by $index">
        <img ngf-thumbnail="::image" class="img-thumnail" width="150px" height="100px" />
        <input ng-if='!$ctrl.uploadvalue' type="text" ng-model="$ctrl.images[$index].label" placeholder="Short description" />
    </div>
    <uib-progressbar ng-if='$ctrl.uploadvalue>0' class="progress-striped active" type="{{$ctrl.uploadtype}}" value="$ctrl.uploadvalue"><b>{{$ctrl.uploadvalue}}%<b></uib-progressbar>
    <div ng-if="$ctrl.uploadtype === 'success'">
      Site created successfully!
    </div>
</form>
<div ng-if="$ctrl.new" class="modal-footer">
    <button ng-disabled="!$ctrl.site.title || $ctrl.uploadvalue>0" class="btn btn-primary" type="button" ng-click="$ctrl.save()">Save</button>
    <button ng-if="$ctrl.uploadtype === 'success'" class="btn btn-primary" type="button" ng-click="$ctrl.close()">Close</button>
    <button ng-if="!$ctrl.uploadvalue" class="btn btn-primary" type="button" ng-click="$ctrl.close()">Cancel</button>
</div>
