.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
  color: white;
}
.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

.options-container {
  margin: 1rem;
}
.options-h2 {
  font-weight: 300;
  font-size: 1.5rem;
}
.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.option {
  height: 15rem;
  width: 15rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.option-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}
.option-h3 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
.nav-tabs{
    border-bottom:0;
}
.nav-pills > li > a {
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: #9D9D9D;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #FFF;
    background-color: #080808;
}
.nav > li > a:focus, .nav > li > a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
}
.centeredImage {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
